{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>регистрация</title>
      <link rel="stylesheet" type="text/css" href="{% static 'finish_reg.css'%}">
</head>
<body>



<body class="bodw" background="http://www.lemonthemovie.com/educational-background-images-118.jpg">
        <div class="menu">
    <a class="menu-logo" href="file:///E:/%D0%BB%D1%8E%D0%BA%20%D1%8F%20%D1%82%D0%B2%D0%BE%D0%B9%20%20%D0%BF%D0%B0%D0%BF%D0%BA%D0%B0/Prodigy/index3.html#" style="color: white;">IF</a>
    <ul class="menu-list">
        <li class="menu-item">
            <a href="file:///E:/%D0%BB%D1%8E%D0%BA%20%D1%8F%20%D1%82%D0%B2%D0%BE%D0%B9%20%20%D0%BF%D0%B0%D0%BF%D0%BA%D0%B0/Prodigy/index5.html#">Предметы</a>
        </li>
        <li class="menu-item">
            <a href="file:///E:/%D0%BB%D1%8E%D0%BA%20%D1%8F%20%D1%82%D0%B2%D0%BE%D0%B9%20%20%D0%BF%D0%B0%D0%BF%D0%BA%D0%B0/Prodigy/index4.html#">О нас</a>
        </li>
        <li class="menu-item menu-item-right">
            <h5>Связь:alex0072223@mail.ru</h5>

        </li>
    </ul>
</div>
    <center>
       <h1 style="color: black;">InterForm</h1>

        <h1>Спасибо что зарегистрировались {{user.username}} !</h1>
        <h1>Мы это очень ценим!</h1>




    </center>

</body>
</html>